.card-ed {
    margin-top: 24px;
    background-color: #f3f1f5;
    min-height: 120px;
    max-width: 720px;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #cecece;
    border-radius: 16px 10px;
    box-shadow: 0px 0px 7px 2px #a0a0a0;
}

.label2-ed {
    color: #026e00;
    text-align: center;
    width: 67%;
    height: 36px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #7cd228;
    border-radius: 3px;
}

.related-concept-description-ed {
    width: 100%;
    height: 80px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #7cd228;
    border-radius: 3px;
}
