.controls-bar {
    background-color: #629557;
    border-bottom: 1px solid #81dc55;
}

.concept-link {
    font-size: 18px;
    color: #5aa638;
    font-family: 'Oxygen', sans-serif;
}

.left-inner-addon {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
