
    <div  class="jumbotron controls-bar">
        <div class="controls-wrapper">
            <div class="btn-group" role="group" aria-label="order search results">
                <button type="button" class="btn btn-default glyphicon glyphicon-sort-by-alphabet"  ng-click="putInLexicographicOrder()"> ALPHA</button>
                <button type="button" class="btn btn-default glyphicon glyphicon-calendar" ng-click="putInWhenAddedOrder()"> ADDED</button>
                <button type="button" class="btn btn-default glyphicon glyphicon-time" ng-click="putInWhenModifiedOrder()"> MODIFIED</button>
            </div>
            <div class="btn-group" role="group" aria-label="order search results">
                <button type="button" class="btn btn-default glyphicon glyphicon-transfer" ng-click="reverseOrder()"></button>
            </div>
            <div>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="false" ng-click="createRequested()"> NEW</span>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                <div id="concepts-list" class="list-group" ng-repeat="card in cards | orderBy : orderParam : isReversed">

                    <div id="concepts-item" class="list-group-item">



                        <div class="">
                            <div class=concepts-item-block>
                                <a class="cib-inner-content concept-link" ui-sref="app.cardview({id: card._id})">{{card.name}}</a>
                            </div>
                            <div class=concepts-item-block>
                                <a ui-sref="app.conceptsitemedit({id: card._id})">
                                    <button type="button" class="btn btn-xs btn-default cib-inner-content" aria-label="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="false"> Edit</span>
                                    </button>
                                </a>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
