
    <!-- Main component for a primary marketing message or call to action -->

        <header class="jumbotron" id="landing-page-jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col-xs-12 col-sm-8">
                        <h1>Concept Focus Tool</h1>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <img src="images/logo.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row row-content">
                <h1>Dev mode enabled.
            </div>
        </div>
