    <footer id="the-footer" class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-5">
                    <h4>Random Wisdom Quotation of the Day</h4>
                    <p>
                        "Knowing in the deepest sense leads unfailingly to action."
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">

                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>Support Free Software</p>
                </div>
            </div>
        </div>
    </footer>
